.mainpage {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'durango_western', sans-serif;
    color: rgb(74, 40, 11);
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/0_html_background/cactus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.impressum {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.impressumBtn {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    font-family: 'durango_western', sans-serif;
    color: white;
    font-size: 16px;
}

.impressumBtn:hover {
    cursor: pointer;
}

.impressumBtn:active {
    color: rgb(125, 38, 56);
}


h2 {
    font-family: 'durango_western', sans-serif;
    font-size: 54px;
    margin: 0;
}

h3 {
    font-family: 'durango_western', sans-serif;
    font-size: 36px;
    margin-top: 25px;
}

h4 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    display: none;
}

@font-face {
    font-family: 'durango_western';
    src: url('fonts/durango_western.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    z-index: 50;
}

.menu button {
    font-family: 'durango_western', sans-serif;
    background-color: rgba(74, 40, 11, 0);
    color: rgb(74, 40, 11);
    font-size: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
}

.menu button:hover {
    color: whitesmoke;
}

.menu button:active {
    color: rgb(125, 38, 56);
}

.menuBtn {
    display: flex;
    flex-direction: column;
}

.gameover {
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    text-align: center;
    display: none;

}

.restart {
    color: rgb(255, 202, 0);
    margin-top: 365px;
}

.restart button {
    background-color: transparent;
    color: white;
    font-size: 32px;
    font-family: 'durango_western', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

.restart button:hover {
    cursor: pointer;
    color: rgb(156, 48, 49)
}

.wonImg {
    margin-top: 50px;
    height: 64px;
    width: 680px;
}

.mutebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(74, 40, 11, 0);
    color: rgb(74, 40, 11);
    font-size: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 50;
}

.controls {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    height: auto;
    z-index: 50;
}

.controls button {

}

.controls button:hover {
    cursor: pointer;
}

.controls img {
    width: 60px;
    height: 60px;
}

.controler {
    display: flex;
    flex-direction: row;
}

.button {
    width: 60px;
    height: 60px;
    background-color: rgba(218, 151, 93, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
}


.button:active {
    background-color: rgb(125, 38, 56);
}

.controlsInfo {
    display: none;
    flex-direction: column;
    font-size: 16px;
    color: white;

}

.controlsInfo img {
    width: 60px;
    height: 60px;
}

.ctrl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 896px) {
    .controls {
        display: flex;
        top: 90%;
        width: 100%;
    }

    h1 {
        display: none;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }

    .gameover {
        width: 100vw;
        height: 100vh;
    }

    .restart {
        position: absolute;
        top: 75%;
        left: 30%;
        margin-top: 0;
    }

    .restart button {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .controls {
        display: flex;
        top: 75%;
    }

    h1 {
        display: none;
    }

    .gameover {
        width: 100%;
    }

    .restart {
        position: absolute;
        top: 93%;
    }

}

@media screen and (orientation: landscape) {
    .rotate-device-warning {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    .rotate-device-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: lightyellow;
        padding: 10px;
        border: 2px solid red;
        z-index: 99;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .gameover {
        width: 100%;
    }

    .controls {
        width: 100%;
    }

    @media only screen and (max-height: 480px) {
        canvas {
            height: 100vh;
        }

    }
}

/* TODO: responsive design: steuerungstasten über das canvas, overlay an canvas größe anpassen */
/* TODO: komplette Doku  */